/* Dark Template Stylesheet */


body {
	color:#ccc;
	background-color: #121212
}

body.archive.page,
body.single, 
body.search,
body.page{
  background-color: #121212;
}

pre {
	color:#777;
	background-color: transparent;
	border-color:#252525;
}
/* General Settings */
.super-container {
	background-color:#121212;
}
.page.page-template-pagepage-podcastarchive-php .super-container,
.page.page-template-pagepage-archive-php .super-container,
.page.page-template-default .super-container,
.page.page-template-pagepagesidebarleft-php .super-container {
	background-color:#121212;
}
input[type="text"],
input[type="email"],
input[type="password"] {
	color:#444;
	border-color:#252525;
}

#respond input[type="text"],
#respond input[type="email"] {
	color:#444;
	background-color:#101010;
	border-color:#252525;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
	color:#333;
}

textarea {
	background-color:#101010;
	border-color:#252525;
	color:#444;
}
.above {
    background-color: #171717;
}
.above.large_nav {
	border-bottom:1px solid transparent;
}
.above.small_nav {
  background-color:#171717; 
}

#nav.responsive {
  background-color:#171717; 	
}
#nav.responsive .thst-menu li.menu-item-has-children a:hover, 
#nav.responsive .thst-menu li.menu-item-has-children > .sub-menu li a:hover {
	background: #141414;
}

blockquote {
    background-color: #1E1E1E;
}
.flexslider {
	background-color: transparent;
}
.single .thst-main-posts,
.main-content,
.archive .main-content, 
.search .main-content, 
.blog .main-content,
.post-type-archive-podcast.archive .main-content,
.main-content.blog-front-page {
	background-color: #121212;
}

/* Latest Episode */
#loading_bg {
	background: #171717;
}
.latest-episode {
	background-color: #141414;
	color:#555;
}
.latest-episode .mejs-container,
.latest-episode .mejs-embed,
.latest-episode .mejs-embed body {
  background: transparent;
}
.latest-episode.front-header .mejs-container .mejs-controls, 
.latest-episode.front-header .mejs-container, 
.latest-episode.front-header .mejs-embed, 
.latest-episode.front-header .mejs-embed body {
	background: transparent;
}

.latest-episode .main-featured-post a:link,
.latest-episode .main-featured-post a:visited {
	color:#fff;
}

.latest-episode .mejs-container .mejs-controls {
	background-color: transparent;
}
.latest-episode .wp-audio-playlist .mejs-container .mejs-controls {
	background-color: transparent;
}

/* List of Episodes */
.list-of-episodes  {
	background-color: #121212;
}
.list-of-episodes article {
	background: #101010;
}
.list-of-episodes.fp-resp-list article {
    background: #101010;
}
.list-of-episodes.fp-resp-grid.full-post article .inside {
	background: #101010;
}
.list-of-episodes article.list {
	background: #121212;
}
.list-of-episodes .inside {
	background-color: #101010;
}
.list-of-episodes.full-post article.list .inside,
.front-page-indigo .list-of-episodes.full-post article .inside {
	background-color: #101010;
}
.list-of-episodes article .post-header h2 a:link,
.list-of-episodes article .post-header h2 a:visited,
.list-of-episodes article.list .post-header h2 a:link, 
.list-of-episodes article.list .post-header h2 a:visited {
	color:#eeeeee;
}
.list-of-episodes article .post-header h2 a:hover,
.list-of-episodes article.list .post-header h2 a:hover {
	color:#ffffff;
}
.front-page-indigo .list-of-episodes article .post-content {
	background: #101010;
}
.front-page-indigo .list-of-episodes article .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total, 
.front-page-indigo .list-of-episodes article .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
	background: #090909;
}

.pod-wave .wave-svg svg path {
	fill: #121212;
}
.pod-wave .divider-buffer {
	background: #121212;
}

/* Ajax Load More */
.pod_loadmore {
	background: #090909;
	color: #cccccc;
}
.pod_loadmore:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Hosts */
.hosts-container,
.front-page-indigo .hosts-container {
	background: #121212;
}
.hosts-container .hosts-description h2 {
	color: #eee;
}
.hosts-container .hosts-content .host,
.front-page-indigo .hosts-container .hosts-content .host {
	background: #090909;
}
.hosts-container .hosts-content .host, 
.hosts-container .hosts-content .host h3,
.front-page-indigo .hosts-container .hosts-content .host, 
.front-page-indigo .hosts-container .hosts-content .host h3 {
	color: #cccccc;
}
.hosts-container .hosts-content .host .host-content, 
.hosts-container .hosts-content .host .host-position, 
.hosts-container .hosts-content .host .host-social li a,
.front-page-indigo .hosts-container .hosts-content .host .host-content, 
.front-page-indigo .hosts-container .hosts-content .host .host-position, 
.front-page-indigo .hosts-container .hosts-content .host .host-social li a {
	color: #999999;
}


/* Donate */
.call-to-action-container,
.front-page-indigo .call-to-action-container {
	background: #121212;
}
.call-to-action-container .call-to-action-content,
.front-page-indigo .call-to-action-container .call-to-action-content {
	background: #090909;
}
.call-to-action-container .call-to-action-content, 
.call-to-action-content h2,
.front-page-indigo .call-to-action-container .call-to-action-content, 
.front-page-indigo .call-to-action-content h2 {
	color: #cccccc;
}




/* From the Blog*/
.front-page-secondary {
  background-color: #131313;
}
.fromtheblog.list,
.fromtheblog {
	background-color: #131313;
}
.fromtheblog.list h2.title,
.fromtheblog h2.title {
	color: #eeeeee;
}
.fromtheblog.list article {
	border-top:1px solid #1b1b1b;
}
.fromtheblog.list article .post-header .author_userpic {
	border: 3px solid #101010;
}
.fromtheblog.list article .post-header .user_img_link img {
	border-color:#131313;
}
.fromtheblog.list article .post-header {
	color:#454545;
}
.fromtheblog.list article:first-of-type:hover {
	border:0;
}
.fromtheblog.list article .post-header span a:link, 
.fromtheblog.list article .post-header span a:visited {
	color: #ccc;
}
.fromtheblog.list article .post-content .title a:link, 
.fromtheblog.list article .post-content .title a:visited {
	color: #ccc;
}
.fromtheblog.list article:hover {
	background-color: #0f0f0f;
	border-top: 1px solid #0f0f0f;
}
.fromtheblog article .post-header h2 a {
	color: #eee;
}
.fromtheblog article .post-header h2 a:hover {
	color: #ffffff;
}
.front-page-indigo .list-of-episodes article .mejs-container .mejs-controls .mejs-time {
	color: #eee;
}
.fromtheblog.horizontal article .post-content,
.fromtheblog.horizontal article .post-header {
	border-color: #333;
}


/* Newsletter */
.newsletter-container {
	background: #131313;
}

/* Posts */
.entries .post {
	background:#0f0f0f;
}
.post .post-cat li a:link,
.post .post-cat li a:visited {
	background-color:#222;
	color:#888;
}
.post .post-cat li a:hover {
	background-color:#333;
	color:#999;
}
.post .entry-title a:link,
.post .entry-title a:visited {
	color:#6a6a6a;
}
.post .entry-header .entry-title a:hover {
	color:#888;
}
.post .entry-meta {
    border-color: #252525;
}


/* Post Formats */
.post.format-audio .featured-media .audio-caption,
.post.format-video .video-caption,
.post.format-image .entry-featured .image-caption {
	background-color:#0F0F0F;
	color:#888;
}
.entry-content .mejs-controls .mejs-time-rail .mejs-time-current {
	color:#101010;
}
.entry-content .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	color:#101010;
}
.post .entry-header .entry-title a:link, 
.post .entry-header .entry-title a:visited {
	color:#eee;
}
.post.format-chat .entry-content ul li {
	border-color:#252525;
}
.post.format-chat .entry-content p {
	border-color:#252525;	
}
.post.format-quote .entry-content figure, 
.post.format-quote .entry-content {
	color:#cccccc;
}
.post.format-gallery .featured-gallery .gallery-caption {
	background-color: transparent;
}
.post.format-link .entry-content > p:first-of-type {
    background-color: #0c0c0c;
}
.post.format-link .entry-content > p:hover:first-of-type {
    background-color: #0a0a0a;
}
.post .entry-content table, 
.single .entry-content table,
.post .entry-content table th, 
.single .entry-content table th,
.post .entry-content table td, 
.single .entry-content table td {
    border: 1px solid #252525;
}
.single .post .entry-meta a:link,
.single .post .entry-meta a:visited {
	color: #a0a0a0;
}
.single .single-featured h2 {
	color: #eee;
}
.single .author-description span {
	color: #ccc;
}

/* Playlists */
.wp-playlist.wp-audio-playlist .wp-playlist-item,
.wp-playlist.wp-video-playlist .wp-playlist-item {
  border-bottom:1px solid rgba(255,255,255,0.05);
  background-color:#0b0b0b;
}
.wp-playlist.wp-audio-playlist .wp-playlist-item:hover,
.wp-playlist.wp-video-playlist .wp-playlist-item:hover {
  background-color:#0d0d0d;
}
.wp-playlist.wp-audio-playlist .wp-playlist-item.wp-playlist-playing, 
.wp-playlist.wp-video-playlist .wp-playlist-item.wp-playlist-playing {
  background-color: #0f0f0f
}
.wp-playlist.wp-audio-playlist .wp-playlist-item a:link,
.wp-playlist.wp-audio-playlist .wp-playlist-item a:visited,
.wp-playlist.wp-video-playlist .wp-playlist-item a:link,
.wp-playlist.wp-video-playlist .wp-playlist-item a:visited {
  color:#777;
}
.single .single-featured .wp-playlist.wp-audio-playlist .wp-playlist-item.wp-playlist-playing, 
.single .single-featured .wp-playlist.wp-video-playlist .wp-playlist-item.wp-playlist-playing {
    background-color: #0f0f0f;
}
.single .single-featured .wp-playlist.wp-audio-playlist .wp-playlist-item, 
.single .single-featured .wp-playlist.wp-video-playlist .wp-playlist-item {
    background-color: #0b0b0b;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* Playlist Custom Scrollbar */
.wp-playlist .mCustomScrollBox {
	background-color: #0B0B0B;
}

/* Podcaster */
.list .podpost:first-child {
    border-bottom: 1px solid #252525;
}
.list .podpost {
    border-bottom: 1px solid #252525;
}
.list .podpost:last-child {
    border-bottom: 1px solid #252525;
}
.template-podcast-archive-legacy .entries-container.list .podpost .entry-footer .podpost-meta .title a,
.template-podcast-archive-legacy .entries-container.list .podpost .entry-footer .podpost-meta .categories a, 
.template-podcast-archive-legacy .entries-container.list .podpost .entry-footer .podpost-meta .categories span {
	color: #eee;
}

/* Sticky Post */
.post.sticky_post {
	background-color:#0f0f0f;
}

/* Single */
.single .content {
	background-color: #121212;
}
.single .post .entry-meta {
	border-color: #252525;
}
.single .single-featured.gallery.sticky {
	background-color: #121212;
}

.single .single-featured,
.featured-audio.podcast-content {
	background-color: #050505;
}
.single .mejs-audio .mejs-container .mejs-controls {
	background-color: #171717;
}

.featured-audio.podcast-content {
	background-color: #171717;
	border-bottom:1px solid #222222;
}
.single .single-featured {
	background-color: #171717;
	border-bottom:1px solid #222222;
	border-top:1px solid #222222;
}
.single .single-featured .mejs-container, 
.single .single-featured .mejs-embed, 
.single .single-featured .mejs-embed body, 
.single .single-featured .mejs-container 
.single .single-featured .mejs-controls {
	background-color: transparent;
}
.single .single-featured .wp-audio-shortcode.mejs-container, 
.single .single-featured .wp-audio-shortcode.mejs-container .mejs-controls,
.sticky-featured-audio-container .mejs-audio, 
.single .sticky-featured-audio-container .mejs-audio .mejs-controls,
.single .sticky-featured-audio-container .audio_player.regular-player {
	background: transparent;
}
.single .sticky-featured-audio-container .wp-audio-shortcode.mejs-container, 
.single .sticky-featured-audio-container .wp-audio-shortcode.mejs-container .mejs-controls {
	background: transparent;
}
.single .caption-container,
.single.single-format-gallery .caption-container {
	background-color: #171717;
	border-bottom:1px solid #222;
	border-top: 0;
}
.sticky-featured-audio-active.single .sticky-featured-audio-container {
	background-color: #171717;
	color: #222222;
}


.singlep_pagi p {
	color: #555555;
}
.single .author-description .author_archive_link a:link,
.single .author-description .author_archive_link a:visited {
	color: #121212;
}
.single .author-info .author-avatar img {
	border:5px solid #121212;
}
.single .post .entry-meta .author-info {
	border-color: #222222;
}
.single .author-info p {
	color: #777777;
}
.single .comment-respond h3, 
.single #comments h3 {
	color: #eeeeee;
}
.wp-block-image figcaption,
.wp-block-gallery figcaption,
.wp-block-audio figcaption,
.wp-block-video figcaption,
.wp-block-embed figcaption {
	color: #dddddd;
}
.entry-content #meetup_oembed {
	background-color: #1e1e1e;
	border-color: #222222;
}
.wp-block-pullquote {
	border-color: #333333;
}
code {
	color: #cccccc;
}
.wp-block-calendar table {
	border-color: #252525;
}
.wp-block-calendar th, 
.wp-block-calendar tbody td {
	border-color: #252525;	
}
.wp-block-calendar table tbody, 
.wp-block-calendar table caption {
	color: #aaaaaa;
}
.wp-block-calendar table th {
	background: #171717; 
}
.wp-block-table table,
table.wp-block-table {
	border-color: #252525;	
}
.wp-block-table td, 
.wp-block-table th {
	border-color: #252525;	
}
#comments .commentlist li {
	border-color: #222222;
}

.wp-block-separator {
	border-color: #222222;
}

/* Single Post formats */
.post.format-status .entry-content {
	color: #ccc;
}

/* Search Page */
 .arch_searchform{
    border:1px solid #333;
}

.arch_searchform #ind_searchform div #ind_s {
	background-color:#121212;
	color:#fff;
}


/* Comments */
#respond #commentform .comment-form-comment textarea {
	color:#ccc;
}
.comment_container {
	background:#121212;
}

/* Page */
.page-template-pagepage-podcastarchive-php .entries.grid .podpost .post-header .hover-content,
.post-type-archive-podcast .entries.grid .podpost .post-header .hover-content,
.template-podcast-archive-legacy .entries-container.grid .podpost .post-header .hover-content {
	background-color: #111;
}
.page.page-template .post .entry-content, 
.page.page-template-default .post .entry-content {
	background-color: #121212;
}
.page .post .entry-content {
	background-color: #121212;
}
.archive .page .post .entry-content {
	background-color: #0f0f0f;
}
.archive.author .page .post .entry-content {
	background-color: #0F0F0F;
}
.page.page-template .post .entry-content {
	background-color: #121212;	
}
.page .reg, 
.podcast-archive .reg,
.search .reg,
.archive .reg {
	background-color: #171717;
	border-bottom:0px solid rgba(0,0,0,.2);
	border-top:0px solid rgba(0,0,0,.2);
}
.page .reg.transparent, 
.podcast-archive .reg.transparent,
.search .reg.transparent,
.archive .reg.transparent {
	border-top:0;
	border-bottom:0;
}
.wp-caption .wp-caption-text {
	background-color: #191919;
}
.page-template-pagepage-podcastarchive-php .entries.list .podpost, 
.post-type-archive-podcast .entries.list .podpost,
.template-podcast-archive-legacy .entries-container.list .podpost {
	border-bottom:1px solid #222;
}

/* Pagination */
.pagination .page-numbers {
	background-color: #0f0f0f;
}
.pagination a.page-numbers:hover {
	background-color: #0c0c0c;
}
.post_pagination {
    border: 1px solid #333;
}
.post .post_pagination {
	border:none;
	background-color: transparent;
}
.post_pagination a:link,
.post_pagination a:visited {
	background-color: #171717;
    border:0;
}
.post_pagination span {
    border-right:1px solid #333;
}
.post_pagination a:hover {
	background-color:#111;
}

/* Podcast Archive */
.pod-2-podcast-archive-grid .podpost .post-footer .title a {
	color: #ccc;
}
.pod-2-podcast-archive-list .podpost .right .post-excerpt .title a {
	color: #ccc;
}
.page-template-pagepage-podcastarchive-php .entries.list .podpost .entry-footer .podpost-meta .title .podpost-meta a, 
.post-type-archive-podcast .entries.list .podpost .entry-footer .podpost-meta .title .podpost-meta a {
	color: #ccc;
}

/* Widgets */
.sidebar {
	border-color:#222;
}
.sidebar h3, 
.archive .sidebar h3 {
	color: #eee;
}
.sidebar .widget:not(.widget_search):not(.thst_recent_blog_widget),
.blog .sidebar .widget,
.archive .sidebar .widget {
	background-color: #0f0f0f;
}
.single .sidebar .widget:not(.widget_search):not(.thst_recent_blog_widget),
.single .sidebar .widget {
	background-color: #121212;
}
.single .sidebar .widget h3 {
	padding-top:0;
}
.sidebar .widget.widget_search,
.blog .sidebar .widget.widget_search,
.archive .sidebar .widget.widget_search {
	background-color: transparent;
}
.widget.widget_search .search-container #s {
	background-color:#0F0F0F;
}
.widget.widget_search .search-container #searchsubmit {
	background-color: #1C1C1C;
}
.widget #calendar_wrap #wp-calendar thead tr {
	background-color: #191919;
}
.page.page-template:not(.has-front-page-template) .sidebar .widget,
.page.page-template-default .sidebar .widget {
	background-color: #121212;
}
#searchform .search-container {
    border-color: #252525;
}
#searchform .search-container:hover {
    border-color: #333;
}
.search-container #s {
	color:#fff;
}



.thst_highlight_category_widget ul li .text {
    border-color: #252525;
}

.widget.thst_recent_blog_widget .ui-tabs-nav {
	background-color:#252525;
}

.widget.thst_recent_blog_widget .acco_loading {
	background: url("../img/270-1.GIF") no-repeat scroll center center transparent;
    padding: 20px;
    margin-bottom:20px;
}

.widget.thst_recent_blog_widget .ui-tabs-nav li a:link, 
.widget.thst_recent_blog_widget .ui-tabs-nav li a:visited {
	background-color: #090909;
}
.widget.thst_recent_blog_widget .ui-tabs-panel article {
	background-color: #0f0f0f;
	border-bottom:1px solid #1a1a1a;
}
.widget.thst_recent_blog_widget .ui-tabs-nav li.ui-state-active a:link,
.widget.thst_recent_blog_widget .ui-tabs-nav li.ui-state-active a:visited {
	background: #0f0f0f;
}
.widget.thst_recent_blog_widget .ui-tabs-panel article .text a:link, 
.widget.thst_recent_blog_widget .ui-tabs-panel article .text a:visited {
	color:#707070;
}
.widget.thst_recent_blog_widget .ui-tabs-nav li.ui-tabs-active {
    background-color: #252525;
}
.widget.thst_recent_blog_widget .ui-tabs-panel {
    background-color: #252525;
}
.widget.thst_recent_comments_widget ul li.recentcomments {
	border-bottom:1px solid #1a1a1a;
}
.widget .tagcloud a:link,
.widget .tagcloud a:visited {
	background-color: #111;
	color:#fff;
}
.widget .tagcloud a:hover {
	background-color: #0c0c0c;
	color:#fff;
}
.page:not(.has-front-page-template) .widget.thst_recent_blog_widget .ui-tabs-panel article,
.single .widget.thst_recent_blog_widget .ui-tabs-panel article {
	background: #121212;
}
.single .widget.thst_recent_blog_widget .ui-tabs-nav li.ui-state-active a:link,
.single .widget.thst_recent_blog_widget .ui-tabs-nav li.ui-state-active a:visited,
.page:not(.has-front-page-template) .widget.thst_recent_blog_widget .ui-tabs-nav li.ui-state-active a:link,
.page:not(.has-front-page-template) .widget.thst_recent_blog_widget .ui-tabs-nav li.ui-state-active a:visited {
	background: #121212;
}

/* MC Form */
.widget.widget_mc4wp_form_widget form.mc4wp-form input[type="text"],
.widget.widget_mc4wp_form_widget form.mc4wp-form input[type="email"],
.widget.widget_mc4wp_form_widget form.mc4wp-form input[type="password"] {
  color: #ddd;
}

.sidebar .ss_podcast .podcast span {
	background-color:#111111;
	color:#fff;
}

/* Shortcode */
.thst-toggle .thst-toggle-title {
	background-color: #171717;
}
.thst-toggle .thst-toggle-title.ui-accordion-header-active {
	border-color:#444;
}
.thst-alert.white {
	background-color: transparent;
	color:#606060;
	border-color:#555; 
}
/* Footer */
footer.main-footer .thst_highlight_category_widget ul li .text {
	border-bottom: 1px solid #252525;
    border-left: 1px solid #252525;
    border-right: 1px solid #252525;
}

footer.main-footer .footer-widgets {
	background-color: #111;
	color: #ccc;
}

footer.main-footer .footer-menu {
	background-color:#0c0c0c;
}

.main-footer {
	background-color: #0e0e0e;
}

/* Social Icons */
.social_icon:before {
  background:#0c0c0c;
 }

/* Tabs */
.thst-tabs .thst-tab,
.thst-tabs .thst-nav li a {
	border-color: #252525;
}
.thst-tabs .thst-nav .ui-tabs-selected a, 
.thst-tabs .thst-nav .ui-tabs-active a {
	background-color:transparent;
	border-color:#252525;
	color:#aaa;
}
.thst-tabs .thst-nav li a:hover {
    background:#1a1a1a !important;
    color:#aaa;
}
.thst-tabs .thst-nav li a {
	background:#0f0f0f;
	border-color: #252525 #252525 -moz-use-text-color !important;
}

/* Toggles */
.thst-toggle .thst-toggle-title {
	border-color:#252525;
}

.thst-toggle-inner {
	border-color:#252525;
}

.thst-toggle .thst-toggle-title:hover {
	border-color:#333;
}
@media screen and (max-width: 321px) {
	.entries .post {
	    background: transparent;
	}
	.sidebar .widget, 
	.blog .sidebar .widget, 
	.archive .sidebar .widget {
		background: transparent;
	}
}