

@font-face {
    font-family: 'Raleway';
    src: url('raleway-bold-webfont.woff2') format('woff2'),
         url('raleway-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Raleway';
    src: url('raleway-bolditalic-webfont.woff2') format('woff2'),
         url('raleway-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Raleway';
    src: url('raleway-italic-webfont.woff2') format('woff2'),
         url('raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Raleway';
    src: url('raleway-light-webfont.woff2') format('woff2'),
         url('raleway-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Raleway';
    src: url('raleway-lightitalic-webfont.woff2') format('woff2'),
         url('raleway-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'Raleway';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Raleway';
    src: url('raleway-semibold-webfont.woff2') format('woff2'),
         url('raleway-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'Raleway';
    src: url('raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('raleway-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}




@font-face {
    font-family: 'Lora';
    src: url('lora-regular-webfont.woff2') format('woff2'),
         url('lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Lora';
    src: url('lora-bold-webfont.woff2') format('woff2'),
         url('lora-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Lora';
    src: url('lora-bolditalic-webfont.woff2') format('woff2'),
         url('flora-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Lora';
    src: url('lora-italic-webfont.woff2') format('woff2'),
         url('lora-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'B612 Mono';
    src: url('b612mono-regular-webfont.woff2') format('woff2'),
         url('b612mono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'B612 Mono';
    src: url('b612mono-bold-webfont.woff2') format('woff2'),
         url('b612mono-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'B612 Mono';
    src: url('b612mono-bolditalic-webfont.woff2') format('woff2'),
         url('b612mono-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'B612 Mono';
    src: url('b612mono-italic-webfont.woff2') format('woff2'),
         url('b612mono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}